body {
	font-family: sans-serif;
	text-align: center;
 	background-image: url(../photos/gridgame.gif);
  	background-repeat: no-repeat;
  	background-position: top left; 
  	background-attachment: fixed;
  	background-size: 1500px
}

.main {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
}


#greetings {
	margin-bottom: 80px;
	top: 45%;
	left: 30%;
}

h1 {
	font-size:12px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	font-weight: 100;
}

a {
	color: white;
	font-size: 60px;
	text-decoration: none;
}

a:hover {
	color: #9cf715;	
}

#blast{
  width: 5px;
  height: 50px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  top: 0px;
  right: 60px;
} 
